<div class="container">
        <div class="row mt-5">
            <h3 class="mb-4 col-12 text-center">CONTACT US</h3>
            <form class="input-group input-group-lg mb-4 col-12">
                <div class="form-group col-12 col-sm-8 offset-sm-2 mt-2 text-center">
                    <input type="text" class="form-control " placeholder="Name">
                </div>
                <div class="form-group col-12 col-sm-8 offset-sm-2 text-center">
                    <input type="email" class="form-control " placeholder="Email ID">
                </div>
                <div class="form-group col-12 col-sm-8 offset-sm-2 text-center">
                    <textarea class="form-control" rows="3" placeholder="Concern"></textarea>
                </div>
                <button class="btn btn-primary col-4 text-center offset-4">Submit</button>
            </form>
        </div>
    </div>
    